.user-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr, 1fr);
    grid-template-rows: repeat(4);
    overflow: hidden;
}

.user-name {
    padding-right: 80px;
    grid-row: 1;       
    grid-column: 1 / 3;
    font-size: 1.3rem;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}