<div class="user-container">
    <button class="btn-icon btn-update" routerLink="/users/{{user.id}}/update" routerLinkActive="active">
        <span><i class="fa fa-edit"></i></span>
    </button>
    <button class="btn-icon btn-delete" (click)="delete()">
        <span><i class="fa fa-trash"></i></span>
    </button>
    <p class="user-name">
        <span>{{user.firstName}} </span> 
        <span> {{user.lastName}}</span>
    </p>
    <p><span>{{user.email}}</span></p>
    <p><span>birthday - </span><span>{{user.birthday | dateUa}}</span></p>
    <p><span>registered at - </span><span>{{user.registeredAt | dateUa}}</span></p>
    <ng-container *ngIf="user.team?.name">
    <p><span>team  - </span><span>{{user.team?.name}}</span></p>
    </ng-container>
</div>