<div class="project-container">
    <button class="btn-icon btn-update" routerLink="/projects/{{project.id}}/update" routerLinkActive="active">
        <span><i class="fa fa-edit"></i></span>
    </button>
    <button class="btn-icon btn-delete" (click)="delete()">
        <span><i class="fa fa-trash"></i></span>
    </button>
    <p class="project-name"><span>{{project.name}}</span></p>
    <p class="project-description"><span>{{project.description}}</span></p>
    <p><span>created - </span><span>{{project.createdAt | dateUa}}</span></p>
    <p><span>deadline - </span><span>{{project.deadline | dateUa}}</span></p>
    <p><span>author - </span><span>{{project.user?.firstName}} {{project.user?.lastName}}</span></p>
    <p><span>team - </span><span>{{project.team?.name}}</span></p>
</div>