.projects-list {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    justify-content: space-between;
}
.project-item-wp {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(212, 241, 255)
}