<h1>Projects</h1>
<button routerLink="/projects/create" routerLinkActive="active">create project</button>
<div class="projects-list">
    <div *ngFor="let _project of projects" class="project-item-wp">
        <app-project-item [project]="_project" (deletedProject)="deleteProject($event)"></app-project-item>
    </div>
</div>