<nav>
    <button routerLink="/projects" routerLinkActive="active">Projects</button>
    <button routerLink="/tasks" routerLinkActive="active">Tasks</button>
    <button routerLink="/teams" routerLinkActive="active">Teams</button>
    <button routerLink="/users" routerLinkActive="active">Users</button>
</nav>
