<form (ngSubmit)="save()" #bookForm="ngForm">
    <div class="form-croup">
        <label for="name-input">
            <span class="form-control">Project name</span>
            <input type="text" [(ngModel)]="project.name" name="name" required autocomplete="off" #name="ngModel"
            id="name-input" class="form-control">
        </label>
        <div class="error" [hidden]="name.errors?.required == null">
            Name is required
        </div>
    </div>

    <div class="form-croup">
        <label for="description-input">
            <span class="form-control">Description</span>
            <textarea rows="5" name="text" [(ngModel)]="project.description" name="description" required autocomplete="off"
                #description="ngModel" id="description-input" class="form-control">
            </textarea>
        </label>
        <div class="error" [hidden]="description.errors?.required == null">
            Description is required
        </div>
    </div>

    <div class="form-croup">
        <label for="deadline-input">
            <span class="form-control">Deadline</span>
            <input type="date" [ngModel]="project.deadline | date:'yyyy-MM-dd'" (ngModelChange)="project.deadline = $event" name="deadline" autocomplete="off"
                #deadline="ngModel" id="deadline-input" class="form-control">
        </label>
    </div>
    <div class="form-croup">       
        <label for="team-input">
            <span class="form-control">Team</span>
            <select [(ngModel)]="project.teamId" name="team" autocomplete="off"  #team="ngModel" id="team-input" class="form-control">
            <ng-container *ngFor="let team of teams">
                <option [value]=team.id>{{team.name}}</option>
            </ng-container>
            </select>
        </label>
    </div>
    <div class="form-croup">       
        <label for="author-input">
            <span class="form-control">Author</span>
            <select [(ngModel)]="project.authorId" name="author" autocomplete="off"  #author="ngModel" id="author-input" class="form-control">
            <ng-container *ngFor="let user of users">
                <option [value]=user.id>{{user.firstName}}  {{user.lastName}}</option>
            </ng-container>
            </select>
        </label>
    </div>
    
    <div class="btn-wp">
        <button type="submit" class="btn btn-save" [disabled]="bookForm.invalid">update</button>
        <button type="button" class="btn btn-cancel"  (click)="cancel()">cancel</button>
    </div>
</form>