<div class="team-container">
    <button class="btn-icon btn-update" routerLink="/teams/{{team.id}}/update" routerLinkActive="active">
        <span><i class="fa fa-edit"></i></span>
    </button>
    <button class="btn-icon btn-delete" (click)="delete()">
        <span><i class="fa fa-trash"></i></span>
    </button>
    <p class="team-name"><span>{{team.name}} </span></p>
    <p><span>created at - </span><span>{{team.createdAt | dateUa}}</span></p>
</div>