.team-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2);
    overflow: hidden;
}

.team-name {
    padding-right: 80px;
    grid-row: 1;       
    grid-column: 1;
    font-size: 1.3rem;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}