<div class="item-container">
    <button class="btn-icon btn-update" routerLink="/tasks/{{task.id}}/update" routerLinkActive="active">
        <span><i class="fa fa-edit"></i></span>
    </button>
    <button class="btn-icon btn-delete" (click)="delete()">
        <span><i class="fa fa-trash"></i></span>
    </button>
    <p class="task-name"><span>{{task.name}}</span></p>
    <p class="task-description"><span>{{task.description}}</span></p>
    <p><span>created - </span><span>{{task.createdAt | dateUa}}</span></p>
    <p><span>finished - </span><span>{{task.finishedAt | dateUa}}</span></p>
    <p [ngSwitch]="task.state"><span>state - </span>
        <ng-template ngSwitchCase="0"><span>Created</span><span appGreenCircle colorCircle="#7bade2"></span></ng-template>
        <ng-template ngSwitchCase="1"><span>Started</span><span appGreenCircle colorCircle="#e6ad54"></span></ng-template>
        <ng-template ngSwitchCase="2"><span>Finished</span><span appGreenCircle colorCircle="#87cf94"></span></ng-template>
        <ng-template ngSwitchCase="3"><span>Canceled</span><span appGreenCircle colorCircle="#d35959"></span></ng-template>
    </p>
    <p><span>project - </span><span>{{task.project?.name}}</span></p>
    <p><span>performer - </span><span>{{task.user?.firstName}} {{task.user?.lastName}}</span></p>
</div>