form {
    max-width: 360px;
    margin: auto;
    border: 1px solid rgb(109, 109, 109);
    border-radius: 5px;
    background: rgb(223, 239, 255);
    border-radius: 3px;
    box-shadow: -1px 5px 17px -7px rgba(0,0,0,.23);
    padding: 10px;
}
.form-croup {
    margin: 10px 0px;
}
.form-control {
    width: 100%;
    display: inline-block;
}
.error {
    color: crimson;
    font-size: 12px;
}
.btn-wp {
    margin: 15px;
    text-align: right;
  }
.btn {
    margin: 10px; 
}


.btn-save {
  background-color: rgb(132, 214, 143);
}
.btn:disabled {
    color:  rgb(161, 161, 161);
    background-color: #ddd;

}
.btn-cancel {
    background-color: rgb(214, 132, 132);
  }