<form (ngSubmit)="save()" #bookForm="ngForm">
    <div class="form-croup">
        <label for="name-input">
            <span class="form-control">Team name*</span>
            <input type="text" [(ngModel)]="team.name" name="name" required autocomplete="off" #name="ngModel"
            id="name-input" class="form-control">
        </label>
        <div class="error" [hidden]="name.errors?.required == null || name.untouched">
            Name is required
        </div>
    </div>
 
    <div class="form-croup">
        <label for="createdAt-input">
            <span class="form-control">Created At*</span>
            <input type="date" [ngModel]="team.createdAt | date:'yyyy-MM-dd'" (ngModelChange)="team.createdAt = $event" name="createdAt" required autocomplete="off"
                #createdAt="ngModel" id="createdAt-input" class="form-control">
        </label>
        <div class="error" [hidden]="createdAt.errors?.required == null || createdAt.untouched">
            Created At is required
        </div>
    </div>

    <div class="btn-wp">
        <button type="submit" class="btn btn-save" [disabled]="bookForm.invalid">Update</button>
        <button type="button" class="btn btn-cancel"  (click)="cancel()">Cancel</button>
    </div>
</form>