<h1>Users</h1>
<button routerLink="/users/create" routerLinkActive="active">create user</button>
<div class="user-list">
    <div *ngFor="let _user of users" class="user-item-wp">
        <app-user-item [user]="_user" (deletedUser)="deleteUser($event)"></app-user-item>
    </div>
</div>