<h1>Teams</h1>
<button routerLink="/teams/create" routerLinkActive="active">create team</button>
<div class="team-list">
    <div *ngFor="let _team of teams" class="team-item-wp">
        <app-team-item [team]="_team" (deletedTeam)="deleteTeam($event)"></app-team-item>
    </div>
</div>