<form (ngSubmit)="save()" #bookForm="ngForm">
    <div class="form-croup">
        <label for="name-input">
            <span class="form-control">Task name *</span>
            <input type="text" [(ngModel)]="task.name" name="name" required autocomplete="off" #name="ngModel"
            id="name-input" class="form-control">
        </label>
        <div class="error" [hidden]="name.errors?.required == null || name.untouched">
            Name is required
        </div>
    </div>

    <div class="form-croup">
        <label for="description-input">
            <span class="form-control">Description *</span>
            <textarea rows="5" name="text" [(ngModel)]="task.description" name="description" required autocomplete="off"
                #description="ngModel" id="description-input" class="form-control">
            </textarea>
        </label>
        <div class="error" [hidden]="description.errors?.required == null || description.untouched">
            Description is required
        </div>
    </div>

    <div class="form-croup">
        <label for="finished-input">
            <span class="form-control">Finished At *</span>
            <input type="date" [ngModel]="task.finishedAt | date:'yyyy-MM-dd'" (ngModelChange)="task.finishedAt = $event" name="finished" required autocomplete="off"
                #finished="ngModel" id="finished-input" class="form-control">
        </label>
        <div class="error" [hidden]="finished.errors?.required == null || finished.untouched">
            Deadline is required
        </div>
    </div>


    <div class="form-croup">       
        <label for="project-input">
            <span class="form-control">Project *</span>
            <select [(ngModel)]="task.projectId" name="project" required autocomplete="off"  #project="ngModel" id="project-input" class="form-control">
            <ng-container *ngFor="let project of projects">
                <option [value]=project.id>{{project.name}}</option>
            </ng-container>
            </select>
        </label>
    </div>
    <div class="form-croup">       
        <label for="performer-input">
            <span class="form-control">Performer</span>
            <select [(ngModel)]="task.performerId" name="performer" autocomplete="off"  #performer="ngModel" id="performer-input" class="form-control">
            <ng-container *ngFor="let user of users">
                <option [value]=user.id>{{user.firstName}}  {{user.lastName}}</option>
            </ng-container>
            </select>
        </label>
    </div>

    <div class="btn-wp">
        <button type="submit" class="btn btn-save" [disabled]="bookForm.invalid">Create</button>
        <button type="button" class="btn btn-cancel"  (click)="cancel()">Cancel</button>
    </div>
</form>