<p>user update</p>
<form (ngSubmit)="save()" #bookForm="ngForm">
    <div class="form-croup">
        <label for="firstName-input">
            <span class="form-control">First name*</span>
            <input type="text" [(ngModel)]="user.firstName" name="firstName" required autocomplete="off" #firstName="ngModel"
            id="firstName-input" class="form-control">
        </label>
        <div class="error" [hidden]="firstName.errors?.required == null || firstName.untouched">
            FirstName is required
        </div>
    </div>
    <div class="form-croup">
        <label for="lastName-input">
            <span class="form-control">Last Name*</span>
            <input type="text" [(ngModel)]="user.lastName" name="lastName" required autocomplete="off" #lastName="ngModel"
            id="lastName-input" class="form-control">
        </label>
        <div class="error" [hidden]="lastName.errors?.required == null || lastName.untouched">
            Last name is required
        </div>
    </div>
    <div class="form-croup">
        <label for="email-input">
            <span class="form-control">email*</span>
            <input type="text" [(ngModel)]="user.email" name="email" required email autocomplete="off" #email="ngModel"
            id="email-input" class="form-control">
        </label>
        <div class="error" [hidden]="email.errors?.required == null || email.untouched">
            Email is required
        </div>
        <div class="error" [hidden]="email.errors?.email == null ">
            Email is incorrect
        </div>
    </div>
    <div class="form-croup">
        <label for="birthday-input">
            <span class="form-control">Birthday*</span>
            <input type="date" [ngModel]="user.birthday | date:'yyyy-MM-dd'" (ngModelChange)="user.birthday = $event" name="birthday" required autocomplete="off"
                #birthday="ngModel" id="birthday-input" class="form-control">
        </label>
        <div class="error" [hidden]="birthday.errors?.required == null || birthday.untouched">
            Birthday is required
        </div>
    </div>
    <div class="form-croup">
        <label for="registeredAt-input">
            <span class="form-control">Registered at *</span>
            <input type="date" [ngModel]="user.registeredAt | date:'yyyy-MM-dd'" (ngModelChange)="user.registeredAt = $event" name="registeredAt" required autocomplete="off"
                #registeredAt="ngModel" id="registeredAt-input" class="form-control">
        </label>
        <div class="error" [hidden]="registeredAt.errors?.required == null || registeredAt.untouched">
            Registered At is required
        </div>
    </div>

    <div class="form-croup">       
        <label for="team-input">
            <span class="form-control">Team</span>
            <select [(ngModel)]="user.teamId" name="team" autocomplete="off"  #team="ngModel" id="team-input" class="form-control">
                <option [value]=null>no team</option>
            <ng-container *ngFor="let team of teams">
                <option [value]=team.id>{{team.name}}</option>
            </ng-container>
            </select>
        </label>
    </div>

    <div class="btn-wp">
        <button type="submit" class="btn btn-save" [disabled]="bookForm.invalid">Update</button>
        <button type="button" class="btn btn-cancel"  (click)="cancel()">Cancel</button>
    </div>
</form>