<h1>Tasks</h1>
<button routerLink="/tasks/create" routerLinkActive="active">create task</button>
<div class="task-list">
    <div *ngFor="let _task of tasks" class="task-item-wp">
        <app-task-item [task]="_task" (deletedTask)="deleteTask($event)"></app-task-item>
    </div>
</div>